<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>商家商品</title>
    <!-- Bootstrap -->
    <link href="../../css/bootstrap.min.css" rel="stylesheet">
    <link href="../../css/main.css?v=0.0.4.0" rel="stylesheet">
    <link href="../../css/common.css?v=0.0.4.0" rel="stylesheet">
    <link href="../../css/style.css?v=0.0.4.0" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../css/cursom/common.css?v=0.0.4.0" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- page -->
    <link href="../../css/cursom/business.css?v=0.0.4.0" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../css/cursom/fontsize.css?v=0.0.4.0" />
    <style type="text/css">
        .select_img {
            margin: 9px 3px 5px 0px;
            display: inline-block;
        }

        .business_top {
            background-size: auto;
        }

        /* bengin 顶部背景图灰度*/

        .business_img {
            display: block;
            position: absolute;
            width: 100%;
            filter: blur(35px) grayscale(90%);
            -webkit-filter: blur(35px) grayscale(90%);
        }

        /* end 顶部背景图灰度*/

        .business_backgroud {
            position: absolute;
            width: 100%;
            opacity: 0.3;
            background-color: #000;
        }

        .business_content {
            position: absolute;
            width: 100%;
        }

        .choice_goods {
            position: relative;
            height: auto;
        }

        .title_name>span:nth-child(1) {
            margin-right: 7px;
        }

        /*多规格*/

        .modal-header {
            padding-bottom: 0px;
            border: none;
        }

        .modal-footer {
            padding: 0px;
            text-align: inherit;
            border-top: none;
            background: #F8F8F8;
            border-radius: 0px 0px 6px 6px;
        }

        button.close:hover,
        button.close:active,
        button.close:focus {
            border: 0 !important;
        }

        /*小球动画*/

        .ball-container .ball {
            position: fixed;
            /*小球动画必须脱离html布局流*/
            left: 32px;
            bottom: 22px;
            z-index: 200;
            transition: all 0.4s cubic-bezier(0.49, -0.29, 0.75, 0.41);
        }

        .inner {
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background: RGB(223, 45, 31);
            transition: all 0.4s linear;
        }

        .search-empty {
            text-align: center;
            padding-top: 160px;
        }

        .empty_tip {
            font-size: 1.5rem;
            color: gray;
        }

        .ico-search-empty {
            display: block;
            display: block;
            margin: 0px auto;
            width: 10rem;
            height: 10rem;
            box-sizing: border-box;
            margin-bottom: 15px;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url(../../images/icon/nodata.png);
            background-size: 100%;
        }

        .business_price_box {
            margin-top: 44px;
        }

        .delivery_span {
            border: none!important;
            background-color: #5F9CE0!important;
            color: rgb(255, 255, 255);
        }
        .delivery_spanR{
            border: none!important;
            background-color: #df2d1f!important;
            color: rgb(255, 255, 255);
        }
    </style>
</head>

<body>
    <div id="app" v-cloak>
        <div class="gwcView">
            <div id="gwc2" v-on:click="closeShoppingCart" style="background-color:#000;opacity: 0.6; width:100%; height:100%; position:fixed; z-index:999;"></div>
            <div class="gwc_cart" style="position:fixed; bottom:0; left:0; z-index:1100; width:100%;">
                <div style="position:relative; float:left;">
                    <div class="shopping_chart_tb ml10 cursor" v-if="shoppingcart.totalNumber > 0" v-on:click="openShoppingCart()">
                        <img v-bind:src="iconList.shoppingcarticon" style="width:18px;height:18px;">
                    </div>
                    <div class="shopping_chart_tb ml10 cursor bggrey" v-if="shoppingcart.totalNumber == 0">
                        <img v-bind:src="iconList.shoppingcarticon" style="width:18px;height:18px;">
                    </div>
                    <span class="cartgoods_num" v-if="shoppingcart.totalNumber > 0">{{shoppingcart.totalNumber}}</span>
                </div>
                <div class="gwc_jt"></div>
                <div class="choice_goods">
                    <div class="choicegoods_title adafont26">
                        <div class="fl" v-on:click="checkAllShopCommodity()">
                            <img class="checkImg" v-bind:src="isAllSelected == 1?iconList.checkedicon:iconList.checkicon"> 全选
                        </div>
                        <div class="title_name">
                            <span class="grey" v-if="shoppingcart.selectedNum>0">(已选{{shoppingcart.selectedNum}}件)</span>
                        </div>
                        <div class="delete_btn" v-if="shoppingcart.totalNumber > 0" v-on:click="clearShoppingCart">清空</div>
                    </div>
                    <div class="plr10" style="width:100%;height:auto;max-height:300px;overflow-y:scroll;">
                        <div class="goods_list" v-for="shopCommodity in shoppingcart.commodities">
                            <div class="fl select_img" v-on:click="selectShopCommodity(shopCommodity)">
                                <img class="checkImg" v-bind:src="shopCommodity.isSelected == 1?iconList.checkedicon:iconList.checkicon">
                            </div>
                            <div class="goods_pic">
                                <img v-bind:src="showImage(defaultList.rectangledefault,shopCommodity.commodityImage)">
                            </div>
                            <div class="goods_right" style="margin-left: 105px;">
                                <div class="goods_name adafont24">{{shopCommodity.commodityName}}</div>
                                <div>
                                    <div class="fl">
                                        <div class="font_orange fl adafont28" v-if="shopCommodity.discountedPrice > 0">{{shopCommodity.discountedPrice | formatDecimal}}</div>
                                        <div class="font_orange fl adafont28" v-else>{{shopCommodity.originalPrice | formatDecimal}}</div>
                                        <div class="adafont22 fl ml10" v-if="shopCommodity.discountedPrice > 0">
                                            <del>{{shopCommodity.originalPrice | formatDecimal}}</del>
                                        </div>
                                    </div>
                                    <div class="goods_num fr" v-if="business.isNormal==1">
                                        <a href="javascript:void(0)" class="num_jian" v-if="shopCommodity.commodityNumber > 0" v-on:click="reduceShoppingCart(2,shopCommodity)"></a>
                                        <span class="goods_shuzi" v-if="shopCommodity.commodityNumber > 0">{{shopCommodity.commodityNumber}}</span>
                                        <a href="javascript:void(0)" class="num_zeng" v-on:click="addShoppingCart(2,shopCommodity,$event)"></a>
                                    </div>
                                    <div class="goods_num fr" v-else>
                                        <a href="javascript:void(0)" class="num_jian"></a>
                                        <span class="goods_shuzi">{{shopCommodity.commodityNumber}}</span>
                                        <a href="javascript:void(0)" class="num_zeng1"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ts_txt adafont26" v-if="shoppingcart.isActivity == 1&&shoppingcart.lessMoney>0">满{{shoppingcart.fullMoney}}减{{shoppingcart.giftMoney}}，还差{{shoppingcart.lessMoney}}元</div>
                    <div class="ts_txt adafont26" v-if="shoppingcart.isActivity == 1&&shoppingcart.lessMoney==0">已满{{shoppingcart.fullMoney}}，结算减{{shoppingcart.giftMoney}}元</div>
                    <div class="choicegoods_bottom">
                        <div v-bind:class="{total_amount:true,labelEllipsis:true,adafont28:true,less_amout:business.isNormal==1 && shoppingcart.lessSendMoney > 0}">{{shoppingcart.totalMoney | formatDecimal}}</div>
                        <div class="business_zbtn" v-if="business.isNormal==1">
                            <a href="javascript:void(0)" v-if="shoppingcart.selectedNum==0" class="font_grey">去结算</a>
                            <a href="javascript:void(0)" class="font_grey labelEllipsis" v-else-if="shoppingcart.lessSendMoney > 0" style="color:white;width: 181px;">还差 {{shoppingcart.lessSendMoney | formatDecimal}} 起送</a>
                            <a v-on:click="goSubmitOrder" v-else style="color:white;">去结算</a>
                        </div>
                        <div class="business_zbtn" v-else>
                            <a href="javascript:void(0)" class="font_grey" style="color:white;">去结算</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="business_top">
            <img v-bind:src="showImage(defaultList.rectangledefault,business.businessImage)" class="business_img">
            <div class="business_backgroud"></div>
            <div class="container-fluid business_content">
                <div class="h20"></div>
                <!-- <div class="topbtn_region">
                    <div class="fl">
                        <span class="back_btn bgdetail" v-on:click="goBack"></span>
                    </div>
                    <div class="fr">
                        <span v-bind:class="{collection_btn:business.isCollection==0,collection_btn2:business.isCollection==1}" v-on:click="collection(business)"></span>
                    </div>
                </div> -->
                <div class="business_price_box">
                    <a v-bind:href="urlList.p030019 + '&id=' + business.businessID">
                        <div class="business_pic75 fl">
                            <img v-bind:src="showImage(defaultList.rectangledefault,business.businessImage)">
                            <div class="bussinessbreak2" v-if="business.isNormal==0">商家休息中</div>
                        </div>
                        <div class="business_nr">
                            <div class="business_name twoLine adafont34">{{business.businessName}}</div>
                            <div class="business_type ">
                                <div style="float:right;">
                                    <img src="../../images/white_go.png" width="9" height="16">
                                </div>
                                <span v-if="business.deliveryMethod=='3'" class="adafont22 delivery_spanR">机器人配送</span>
                                <span v-if="business.deliveryMethod=='2'" class="adafont22 delivery_span">到店自提</span>
                                <span v-if="business.deliveryMethod=='0' || business.deliveryMethod=='1'" class="adafont22 delivery_span">商家配送</span>
                                <span v-for="label in business.businessLabels " class="adafont20">{{label.labelName}}</span>
                            </div>
                            <div class="business_start labelEllipsis">
                                <span class="adafont20" v-if="business.sendMoney > 0">起送价 {{business.sendMoney | formatDecimal}}</span>
                                <span class="adafont20" v-if="business.sendMoney > 0">|</span>
                                <span class="adafont20" v-if="business.isFeeActivity == 0 &business.deliveryFee > 0">配送费 {{business.deliveryFee | formatDecimal}}</span>
                                <span class="adafont20" v-if="business.isFeeActivity == 1">{{business.deliveryFeeActivity}}</span>
                                <span class="adafont20" v-if="business.isFeeActivity == 0 & business.deliveryFee == 0">免运费</span>
                            </div>
                            <div class="full_cut clearfix" style="clear: both;" v-if="business.activities&&business.activities.length>0">
                                <span class="orange_bg20 fl adafont20">满减</span>
                                <span class="fl ml10 labelEllipsis adafont20">{{business.activities | spliceActivity}}</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div v-if="shows==true">
            <div class="mt10 clearfix" style="margin-bottom: 50px;">
                <div class="business_mainmenu" v-if="business.commodityCategory && business.commodityCategory.length>0">
                    <ul id="menu_category">
                        <li v-bind:class="{'selected':index==0}" v-for="(category,index) in business.commodityCategory" v-on:click="changeCategory(category)">
                            <a href="javascript:void(0)" class="twoLine adafont28">{{category.categoryName}}</a>
                        </li>
                    </ul>
                </div>
                <div class="business_goods_box" v-for="category in commodityList" v-bind:class="business.commodityCategory&&business.commodityCategory.length>0 ?'':'nomarginleft'">
                    <div class="businessmenu_choice adafont24" v-if="business.commodityCategory && business.commodityCategory.length>0">{{category.categoryName}}</div>
                    <div class="content" style="margin-bottom: 10px;">
                        <div class="plr10">
                            <div class="goods_list" v-for="commodity in category.commodityArray">
                                <div class="goods_pic">
                                    <a v-bind:href="urlList.p030004 + '&id=' + commodity.commodityID + '&bid=' + business.businessID">
                                        <img v-bind:src="showImage(defaultList.rectangledefault,commodity.commodityImage)">
                                    </a>
                                    <!--begin 购物车动画-->
                                    <!--<img class="img_fly" style="position:absolute; top:-1px; left:0px; z-index:-500;" v-bind:src="commodity.commodityImage">-->
                                    <!--end 购物车动画-->
                                </div>
                                <div class="goods_right">
                                    <div class="goods_name">
                                        <span v-bind:class="{labelTwoEllipsis:true,adafont28:true,singleSpe:commodity.isMoreSpe==0,moreSpe:commodity.isMoreSpe==1}"
                                            v-if="commodity.isLimit==0||(commodity.isLimit==1&&commodity.limitNumber==0)">
                                            {{commodity.commodityName}}/{{commodity.commodityUnit}}
                                        </span>
                                        <span v-bind:class="{labelTwoEllipsis:true,adafont28:true,singleSpe:commodity.isMoreSpe==0,moreSpe:commodity.isMoreSpe==1}"
                                            v-else>
                                            {{commodity.commodityName}}/{{commodity.commodityUnit}}(限购{{commodity.limitNumber}}{{commodity.commodityUnit}})
                                        </span>
                                        <!-- <span class="goods_label cursor adafont20" v-if="commodity.isMoreSpe">多规格</span> -->
                                    </div>
                                    <div style="overflow: hidden;">
                                        <div class="fl">
                                            <div class="font_orange adafont28" v-if="commodity.discountedPrice > 0">{{commodity.discountedPrice | formatDecimal}}</div>
                                            <div class="font_orange adafont28" v-else>{{commodity.originalPrice | formatDecimal}}</div>
                                            <div class="adafont22" v-if="commodity.discountedPrice > 0">
                                                <del>{{commodity.originalPrice | formatDecimal}}</del>
                                            </div>
                                        </div>
                                        <div class="goods_num fr" v-if="business.isNormal == 1">
                                            <div v-if="commodity.isMoreSpe == 0">
                                                <a href="javascript:void(0)" class="num_jian" v-if="commodity.commodityNumber>0" v-on:click="reduceShoppingCart(1,commodity)"></a>
                                                <span class="goods_shuzi" v-if="commodity.commodityNumber>0">{{commodity.commodityNumber}}</span>
                                                <!--begin 购物车动画-->
                                                <a href="javascript:void(0)" class="num_zeng" v-on:click="addShoppingCart(1,commodity,$event)"></a>
                                                <!--end 购物车动画-->
                                            </div>
                                            <div v-else>
                                                <a href="javascript:void(0)" class="num_jian" v-on:click="tooltipClick" data-toggle="tooltip" data-trigger="click" data-placement="top"
                                                    title="多规格商品只能去购物车删除" v-if="commodity.commodityNumber>0"></a>
                                                <span class="goods_shuzi" v-if="commodity.commodityNumber>0">{{commodity.commodityNumber}}</span>
                                                <a href="javascript:void(0)" class="num_zeng" v-on:click="openMoreSpe(commodity)"></a>
                                            </div>
                                        </div>
                                        <div class="goods_num fr" v-else>
                                            <a href="javascript:void(0)" class="num_jian" v-if="commodity.commodityNumber>0"></a>
                                            <span class="goods_shuzi" v-if="commodity.commodityNumber>0">{{commodity.commodityNumber}}</span>
                                            <a href="javascript:void(0)" class="num_zeng1"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="business_bottom">
                <div style="position:relative; float:left;">
                    <div class="shopping_chart_tb ml10 cursor" v-if="shoppingcart.totalNumber > 0" v-on:click="openShoppingCart()">
                        <img v-bind:src="iconList.shoppingcarticon" style="width:18px;height:18px;">
                    </div>
                    <div class="shopping_chart_tb ml10 cursor bggrey" v-if="shoppingcart.totalNumber == 0">
                        <img v-bind:src="iconList.shoppingcarticon" style="width:18px;height:18px;">
                    </div>
                    <span class="cartgoods_num" v-if="shoppingcart.totalNumber > 0">{{shoppingcart.totalNumber}}</span>
                </div>
                <div v-bind:class="{total_amount:true,labelEllipsis:true,adafont28:true,less_amout:business.isNormal==1 && shoppingcart.lessSendMoney > 0}"
                    v-if="shoppingcart.totalNumber > 0">{{shoppingcart.totalMoney | formatDecimal}}</div>
                <div class="total_amount nocommodity" v-else>未选购商品</div>
                <div class="business_zbtn" v-if="business.isNormal==1">
                    <a href="javascript:void(0)" v-if="shoppingcart.selectedNum==0" class="font_grey">去结算</a>
                    <a href="javascript:void(0)" class="font_grey labelEllipsis" v-else-if="shoppingcart.totalNumber > 0 && shoppingcart.lessSendMoney > 0"
                        style="color:white;width:181px;">还差 {{shoppingcart.lessSendMoney |formatDecimal}} 起送</a>
                    <a v-on:click="goSubmitOrder" v-else-if="shoppingcart.totalNumber > 0 && shoppingcart.lessSendMoney == 0 " style="color:white;">去结算</a>
                    <a href="javascript:void(0)" class="font_grey" v-else-if="shoppingcart.totalNumber == 0" style="color:white;">去结算</a>
                </div>
                <div class="business_zbtn" v-else>
                    <a href="javascript:void(0)" class="font_grey" style="color:white;">去结算</a>
                </div>
            </div>
            <div class="ball-container">
                <div v-for="ball in balls">
                    <!--用了两种方式的动画,css和js钩子-->
                    <transition name="drop" @before-enter="beforeDrop" @enter="dropping" @after-enter="afterDrop">
                        <!--外层动画-->
                        <div class="ball" v-show="ball.show">
                            <!--内层动画-->
                            <div class="inner inner-hook"></div>
                        </div>
                    </transition>
                </div>
            </div>
            <div id="moreSpeModal" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog moreSpeModal" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" style="outline: none;" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title fontcenter adafont28" v-if="currentCommodity.isLimit==0||(currentCommodity.isLimit==1&&currentCommodity.limitNumber==0)">
                                {{currentCommodity.commodityName}}/{{currentCommodity.commodityUnit}}
                            </h4>
                            <h4 class="modal-title fontcenter adafont28" v-else>
                                {{currentCommodity.commodityName}}/{{currentCommodity.commodityUnit}}(限购{{currentCommodity.limitNumber}}{{currentCommodity.commodityUnit}})
                            </h4>
                        </div>
                        <div class="modal-body spepadding">
                            <div class="tanchukuang_title2 adafont24">{{currentCommodity.speCategory}}</div>
                            <div class="tanchukuang_fenlei">
                                <a href="javascript:void(0)" id="spe" class="cursor" v-for="(specification,index) in currentCommodity.specifications">
                                    <label class="activeSpe adafont26" for="spe" v-if="specification.specificationStock>0" v-on:click="changeSpecification(specification)">{{specification.specificationName}}</label>
                                    <label class="noActiveSpe adafont26" for="spe" v-else>{{specification.specificationName}}</label>
                                </a>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="tanchukuang_bottom">
                                <div class="tanchukuang_bottom_but cursor" v-on:click="confirmSpecification($event)">确定</div>
                                <div class="tanchukuang_bottom_left" v-if="currentSpecification.specificationStock > 0">
                                    <span class="font_orange adafont28" v-if="currentSpecification.specificationdisPrice>0">{{currentSpecification.specificationdisPrice | formatDecimal}}</span>
                                    <span class="font_orange adafont28" v-else>{{currentSpecification.specificationPrice | formatDecimal}}</span>
                                    <span class="font22 adafont24" v-if="currentSpecification.specificationdisPrice>0">
                                        <del>{{currentSpecification.specificationPrice | formatDecimal}}</del>
                                    </span>
                                </div>
                                <div class="tanchukuang_bottom_left" v-else></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="shows==false" style="margin-top: 10px;">
            <div class="search-empty">
                <span class="ico-search-empty"></span>
                <span class="text adafont26">暂无商品!</span>
            </div>
        </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../../js/static/jquery.js"></script>
    <script src="../../js/static/layer.js" type="text/javascript" charset="utf-8"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../../js/static/bootstrap.min.js"></script>
    <script src="../../js/static/vue.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../js/static/vue-resource.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../js/page/common/common.js?v=0.0.4.0" type="text/javascript" charset="utf-8"></script>
    <script src="../../js/page/common/configuration.js?v=0.0.4.0" type="text/javascript" charset="uft-8"></script>
    <script src="../../js/page/business/commoditylist.js?v=0.0.4.0" type="text/javascript" charset="utf-8"></script>
</body>

</html>